dom-module#quill-workspace
  template
    .ui.vertical.stripe.segment.content
      .ui.segment
        h2.ui.horizontal.header.divider Welcome home!
        p Here are some things that might interest you.
  
      quill-writer.ui.segment
  
  script.
    Polymer({
      is: 'quill-workspace'
    });
