// so clean!
// TODO: use this as an example case!
// TODO: split this into a layout, and have only the inner template
// defined in a view/component/input arrangement.
dom-module#quill-workspace
  template
    style.
      :host ::content .unpadded {
        margin: 0;
        padding: 0 !important;
      }
  
    .ui.text.container.vertical.stripe.content.segment
      h2.ui.horizontal.header.divider Welcome home!
      
    .ui.text.container.vertical.stripe.content.segment.unpadded
      quill-draft-card.ui.fluid.card#prompt
      
      .ui.text.container.vertical.stripe.content.segment
        quill-draft-list.ui.cards(src="/drafts")
  
  script.
    Polymer({
      is: 'quill-workspace',
      ready: function() {
        console.log('[QUILL:WORKSPACE]');
        
        this.$.prompt.placeholders = [
          {
            tag: 'h2',
            text: 'Title'
          }, // to enable later */
          {
            tag: 'p',
            text: 'Tell your story…',
          }
        ];
        
        this.$.prompt._enableEditing();
        this.$.prompt.focus();

      }
    });
