// so clean!
// TODO: use this as an example case!
// TODO: split this into a layout, and have only the inner template
// defined in a view/component/input arrangement.
dom-module#quill-workspace
  template
    style.
      :host ::content .unpadded {
        margin: 0;
        padding: 0 !important;
      }
  
    .ui.text.container.vertical.stripe.content.segment
      h2.ui.horizontal.header.divider Welcome home!
      
    .ui.text.container.vertical.stripe.content.segment.unpadded
      quill-writer
  
  script.
    Polymer({
      is: 'quill-workspace'
    });
